* {
  font-family: "SF Pro KR", "SF Pro Display", "SF Pro Icons", "Apple Gothic",
    "HY Gulim", "MalgunGothic", "HY Dotum", "Lexi Gulim", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
  margin: 0;
  padding: 0;
}
html {
  margin: 0;
  padding: 0;
}

body{
  padding-top: 75px;
}
.white-sentence {
  color: #fff;
}
.white-sentence.headline,
.black-sentence.headline {
  font-size: 56px;
}
.white-sentence.subhead,
.black-sentence.subhead{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 480px;
  font-size: 28px;
  margin-top: 6px;
  font-weight: 400;
  /* 자간 */
  letter-spacing: -0.03em;
}

.black-sentence {
  color: #131313;
}


.black-sentence.promos-headline, .white-sentence.promos-headline{
  font-size: 40px;
}
.black-sentence.promos-subhead, .white-sentence.promos-subhead{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 480px;
  font-size: 21px;
  margin-top: 6px;
  font-weight: 400;
  /* 자간 */
  letter-spacing: -0.03em;
}
.top-navBar {
  width: 100%;
  background-color: #333333;
  height: 48px;
  overflow: visible;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
}

nav > ul {
  list-style: none;
  justify-content: space-around;
  display: flex;
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
}

li {
}

.covid-section {
  text-align: center;
  padding: 10px 15px;
}
.covid-span {
  font-size: 11px;
}
nav > ul > li > a {
  text-align: center;
  opacity: 0.8;
  color: aliceblue;
  flex: 1;
  cursor: pointer;

  font-size: 14px;
  line-height: 3.1;
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
  color: #f5f5f7;
  opacity: 0.8;
}

a:hover {
  opacity: 1;
}
#iphone-se,
#iPad,
#iphone-11 {
  position: relative;
  width: 100%;
  flex: 1;
  height: 100%;
}
/*flex-direction으로 방향지정*/
.product-wrapper {
  display: flex;
  height: calc(736px * 3);
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.module-content {
  width: 100%;
  height: 100%;
  border: 3px solid red;
}

.content-wrapper {
  width: 100%;
  position: absolute;
  padding-top: 47px;
  text-align: center;
  z-index: 3;
}

/* div사이즈에 맞게 a태그 설정 */
.unit-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.unit-wrapper.theme-dark-background {
  background-color: #131313;
}

.unit-link {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
}
.buy-link-wrapper {
  padding-top: 17px;
}
/* 전체를 감싸는 a unit-link클래스가 after-link를 제외하고 어느부분을 갖다대도
먹혀야하는데 content-wrapper영역에서는 z-index를 지정해주어도 먹히질 않음..  */
.after-link {
  z-index: 3;
  color: #2997ff;
  text-decoration: none;
  font-weight: 400;
  font-size: 19px;
  margin-right: 5px;
}
.after-link:hover {
  text-decoration: revert;
}
.price {
  color: #86868b;
  font-size: 17px;
  padding-top: 8px;
  font-weight: 400;
}
.image-wrapper {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
@media (max-width: 768px) {
  nav > ul > li > a {
    /*visibility: hidden;*/
    display: none;
  }
}

div > #iphone-se-image {
  position: absolute;
  overflow: hidden;
  width: 1156px;
  height: 584px;
  top: 15%;
  right: auto;
  left: 50%;
  /* x축만큼 -50%만큼 이동 */
  transform: translate(-50%);
  background-position: center;
  background-size: 1156px 584px;
  background-repeat: no-repeat;
  background-image: url("./imgs/iphone-se-large.jpg");
}

div > #iphone-11-image {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 626px;
  top: 15%;
  right: auto;
  left: 50%;
  transform: translate(-50%);
  background-position: center;
  background-size: 2618px 626px;
  background-repeat: no-repeat;
  background-image: url("./imgs/iphone11-medium.jpg");
}
div > #ipad-image {
  position: absolute;
  overflow: hidden;
  width: 700px;
  height: 565px;
  top: 15%;
  right: auto;
  left: 50%;
  transform: translate(-50%);
  background-position: center;
  background-size: 700px 565px;
  background-repeat: no-repeat;
  background-image: url("./imgs/ipad.jpg");
}

/* 하단 섹션 */


.collection-module {
  display: grid;
  row-gap: 0px; /*행사이 간격*/
  column-gap: 0px; /*열 사이 간격*/
  grid-template-columns: repeat(2, 1fr);
}

.grid-wrapper{
  position: relative;
  margin-top: 10px;
  width: 100%;
  height: 655px;
}
.grid-content-wrapper{
  width: 100%;
  position: absolute;
  text-align: center;
  padding-top: 53px;
  z-index: 2;
}
.unit-wrapper.theme-gray-background{
  background-color: #f2f2f2;
}
.unit-wrapper.theme-whitegray-background{
  background-color: #FAFAFA;
}

/* h4의 headline만 특정하고 싶은데 흠. */

div > #iMac-image{
  position: absolute;
  overflow: hidden;
  width: 634px;
  height: 431px;
  top: 30%;
  right: auto;
  left: 50%;
  /* x축만큼 -50%만큼 이동 */
  transform: translate(-50%);
  background-position: center;
  background-size: 634px 431px;
  background-repeat: no-repeat;
  background-image: url("./imgs/iMac.jpg");
}

div > #iphone-11-pro-image{
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 655px;
  top: 0%;
  right: auto;
  left: 50%;
  /* x축만큼 -50%만큼 이동 */
  transform: translate(-50%);
  background-position: center;
  background-size: 1260px 655px;
  background-repeat: no-repeat;
  background-image: url("./imgs/iphone-11-pro.jpg");
}

div > #apple-watch-image{
  position: absolute;
  overflow: hidden;
  width: 532px;
  height: 386px;
  top: 30%;
  right: auto;
  left: 50%;
  /* x축만큼 -50%만큼 이동 */
  transform: translate(-50%);
  background-position: center;
  background-size: 532px 386px;
  background-repeat: no-repeat;
  background-image: url("./imgs/apple-watch.jpg");
}

div > #macbook-pro-image{
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 650px;
  top: 0%;
  right: auto;
  left: 50%;
  /* x축만큼 -50%만큼 이동 */
  transform: translate(-50%);
  background-position: center;
  background-size: 2000px 784px;
  background-repeat: no-repeat;
  background-image: url("./imgs/macbook-pro.jpg");
}

div > #airpod-pro-image{
  position: absolute;
  overflow: hidden;
  width: 555px;
  height: 356px;
  top: 42%;
  right: auto;
  left: 50%;
  /* x축만큼 -50%만큼 이동 */
  transform: translate(-50%);
  background-position: center;
  background-size: 555px 356px;
  background-repeat: no-repeat;
  background-image: url("./imgs/airpod-pro.jpg");
}


div > #apple-logo-image{
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 580px;
  top: 4%;
  right: auto;
  left: 50%;
  /* x축만큼 -50%만큼 이동 */
  transform: translate(-50%);
  background-position: center;
  background-size: 1365px 580px;
  background-repeat: no-repeat;
  background-image: url("./imgs/apple-log.jpg");
}

footer{
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f5f5f7;
}


footer > div{
  padding-top:20px;
  max-width: 980px;
}

#foot-note-1{
  font-size: 0.75em;
  color: #86868b;
  padding-bottom: 15px;
}

.footer-nav-5-columns{
  display: grid;

  grid-template-columns: repeat(5, 1fr);
}

.footer-list-wrapper{
  padding-top: 20px;
  width: 100%;
  height: 100%;
}

footer > div > nav > div > ul{
  list-style: none;
  
}
footer > div > nav > div > ul > li{
  margin-bottom: 10px;
  color: #86868b;
  font-size:12px;
  cursor: pointer;
}
footer > div > nav > div > h3 {
  margin-bottom: 10px;
  font-size: 12px;
}

.footer-info{
  padding-top: 30px;
}

.footer-info-2{
  padding-top: 15px;
}

.copyright{
  display: inline;
}
.copyright h5{
  display:inline;
}

.footer-legal-link{
  display: inline;
  font-size: 12px;
  margin-left: 30px;
}

.footer-legal-tag{
  padding:10px;
  text-decoration: none;
  color: #86868b;
}

.footer-nation{
  display: inline;
  float: right;
}
.footer-nation h5{
  display: inline;
}

.footer-company-info{
  padding-top: 5px;
}
#foot-note-company-info{
  font-size: 10.5px;
  color: #86868b;
  padding-bottom: 15px;
}